.header {
  height: 70vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../../src/assets/al-thomason-header-img.jpg);
  background-size: cover;
  background-position: center bottom;
}
.flex-row .flex-row-content {
  justify-content: center;
}
@media (max-width: 1200px) {
  .header {
    height: 30vh;
  }
}
