<footer class="display-flex background-green">
  <div class="nav-buttons flex-row-content">
    <button (click)="scrollTo('bio-section')">About Me</button>
    <button (click)="scrollTo('free-estimate-form')">Free Estimate</button>
    <button (click)="scrollTo('completed-projects')">Completed Projects</button>
  </div>
  <div class="flex-row-content separator-div-full-thick"></div>
  <div class="nav-logo flex-row-content">
    <img class="img-responsive" src="assets/tcc-logo.png" alt="TCC Logo" />
  </div>
</footer>
