<div class="background-green padding-5-percent">
  <div class="display-flex-row">
    <div class="flex-row-content">
      <div class="al-bio-image-container">
        <img class="img-fluid" src="al-bio-image.jpeg" alt="Al Thomason" />
      </div>
    </div>
    <div class="vertical-separator d-none d-lg-block"></div>
    <div class="padding-1 d-lg-none"></div>
    <div class="separator-div-full d-lg-none"></div>
    <div class="padding-1 d-lg-none"></div>
    <div class="flex-row-content">
      <div class="color-white">
        <h2>About Me</h2>
        <div class="padding-1"></div>
        <p>
          I'm Al Thomason. I founded Thomason Construction Company because I’m
          passionate about solving design challenges and bringing together a
          network of dedicated professionals who specialize in woodworking,
          painting, electrical, plumbing and more.
        </p>
        <p>
          With over 40 years of experience in the construction industry here in
          Central Virginia, I’ve done it all – from new construction to
          remodeling historic homes. I started out carrying plywood and nails
          but have moved on to managing the construction of entire subdivisions
          and coordinating multiple projects across the region.
        </p>
        <p>
          Let Thomason Construction Company handle all your construction needs –
          whether it’s a new porch, a bathroom remodel, or a brand new dream
          home.
        </p>
      </div>
    </div>
  </div>
</div>
